
<h1> Create a New Matrix </h1>

<!-- So this is a crazy form that takes -->
<!-- 4 Exercises -->
<%= simple_form_for @new_matrix_form, url: center_matrices_path(@center) do |f| %>
  <% @new_matrix_form.ex_slots.times do |n| %>
    <%= f.input "exercise_slot_#{n + 1}".to_sym, collection: @exercises %>
    <% @new_matrix_form.comps_per_exercise.times do |i| %>
    <%= f.simple_fields_for "comp_slots_ex_#{i + 1}".to_sym do |f| %>
      <%= f.input "ex_slot_#{n + 1}_comp_#{i + 1}", collection: @competencies %>
    <% end %>
      <hr>
    <% end %>
  <% end %>
  <%=  f.submit "create matrix", class: "btn btn-primary w-100" %>
<% end %>
<!-- For each exercise -->
<!-- 4 competencies -->
<!-- So I need some sort of form group -->
<!-- And on creation, add everything to the right place -->
